.antigravity

# Env
.env
*.env# Env
.env
*.env

# Python venv
venv/

# VS Code
.vscode/

# Database files
*.db

# Uploads
backend/uploads/

# FAISS vector index
chatbot/faiss_index/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc
